.container-avaliacoes {
  display: flex;
  width: 80%;
  margin: 50px auto;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
}

.container-avaliacoes > li {
  list-style: none;
  margin: 0 50px;
}

.container-avaliacoes > li > img {
  width: 350px;
  height: max-content;
}
