.home {
  width: 100%;
  height: max-content;
}

.home > h1 {
  color: #000000;
  text-align: center;
  padding: 20px 10px;
  font-family: "Roboco" sans-serif;
  font-size: var(--font-size-4);
  font-weight: var(--font-weigth-700);
}

.home > p {
  color: var(--grey-scale-0);
  /* background-color: var(--grey-scale-1);
  background: radial-gradient(
    circle,
    rgba(71, 71, 71, 1) 6%,
    rgba(32, 32, 32, 1) 47%,
    rgba(0, 0, 0, 1) 100%
  ); */
  font-family: "Roboco" sans-serif;
  font-size: var(--font-size-1);
  font-weight: var(--font-weigth-400);
  text-align: center;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  /* border: 1px solid var(--grey-scale-1);
  border-radius: 16px; */
  line-height: 40px;
}

.contact-2 {
  display: flex;
  text-decoration: none;
  color: var(--primary-color);
  font-family: "Inter" sans-serif;
  font-size: var(--font-size-2);
  font-weight: var(--font-weigth-500);
  width: max-content;
  height: 40px;
  padding: 5px 20px;
  text-align: center;
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  margin: 20px auto;
}
