@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color-1);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #142e48;
  --secondary-color: #f6080f;
  --third-color: #eea78d;
  --grey-scale-0: #000000;
  --grey-scale-1: #202020;
  --grey-scale-2: #464646;
  --grey-scale-3: #606060;
  --white-color-1: #dfdfdf;
  --white-color: #ffffff;
  --white-color-2: #aaaaaa;

  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.5rem;
  --font-size-4: 2rem;

  --font-weigth-300: 300;
  --font-weigth-400: 400;
  --font-weigth-500: 500;
  --font-weigth-700: 700;
}
